# Dependencies
node_modules
solulab/node_modules
solulab-demo/node_modules

# Build outputs
solulab/dist
dist

# Databases
solulab-demo/.solulab
*.db

# Environment
.env
.env.local

# System files
.DS_Store
*.log

# IDE
.vscode

# Testing
coverage
.turbo